<nav class="navbar bg-body-tertiary nav px-3 pb-3">
    <form class="d-flex mt-2" role="search">
        <label class="mt-1 mx-2 my-2">Raça:</label>
        <div class="dropdown ">
            <a class="btn btn-secondary dropdown-toggle btn-dropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Todas
            </a>
        </div>
    </form>
    <button type="button" routerLink="/perfil" class="btn btn-secondary btn-profile mx-3 d-flex">
        <div class="icon-user ">
            <i class="fa-solid fa-user" style="color: #D9D9D9"></i>
        </div>
        Perfil
    </button>
</nav>