.card-dog{
    height: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pagination-button{
    background-color: #fff;
    border: 1px solid #CCCCCC;
    height: 7vh !important;
    width: 3%;
}
.pagination{
    margin-right: 7%;
}